.navbar .btn-outline-light:hover{
    color: var(--bs-dark) ;
}
.modal-dialog {
    max-width: 1040px;
}
.header{
    background-image: url(../images/header-background.jpg);
}
@media(max-width:1000px)
{
.image-container {
    display: flex;

    justify-content: center;
}
.text-container ,.text-container h1{
  text-align: center !important;
}
}